<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--
	核心配置文件中的标签必须按照固定的顺序：
	properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,objectWrapperFactory?,
	reflectorFactory?,plugins?,environments?,databaseIdProvider?,mappers?
	-->
	<properties resource="jdbc.properties"/>
	
	<typeAliases>
		<!--以包为单位，将包下所有的类型设置默认的类型别名，即类名且不区分大小写-->
		<package name="com.shaoyx.mybatis.pojo"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<!-- Mybatis的内置的事务管理器 -->
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.url}"/>
				<property name="username" value="${jdbc.username}"/>
				<property name="password" value="${jdbc.password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<package name="com.shaoyx.mybatis.mapper"/>
	</mappers>
</configuration>
